@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .headerBackground {
    @apply bg-[#272727];
  }
  .headerMenuBackground {
    @apply bg-white;
  }

  .footerBackground {
    @apply bg-[#272727];
  }
  .homeBackground {
    @apply bg-white;
  }
  .homeBannerBack {
    @apply bg-[#9f9f9f];
  }

  .flex-c {
    @apply flex flex-col;
  }
  .flex-c-center {
    @apply flex flex-col justify-center items-center;
  }
  .flex-r {
    @apply flex flex-row;
  }
  .flex-r-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-between-center {
    @apply flex justify-between items-center;
  }
  .max-w-container {
    @apply w-full max-w-[1520px] md:px-8 px-4 mx-auto;
  }
  .max-w-container-sm-full {
    @apply w-full max-w-[1520px] md:px-8 mx-auto;
  }
}
